{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Homescreen</title>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Helvetica' rel='stylesheet'> -->


    <script type="text/javascript" >
    function addFunc() {
      var myNodelist = document.getElementsByTagName("p");
      var i;
      for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
      }


    // Click on a close button to hide the current list item
    // Click on a close button to hide the current list item
    const checkBox = document.createElement('input')
    checkBox.type = 'checkbox'
    var task = document.createElement("p");
    var inputValue = document.getElementById("myTask").value;
    var t = document.createTextNode(inputValue);
    task.appendChild(t);

    var label = document.createElement('label')
    label.htmlFor = t;
    label.appendChild(t);

    var br = document.createElement('br');

    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.appendChild(txt);
    task.appendChild(span);

    if (inputValue === '') {
    alert("You must write something!");
    } else {
    document.getElementById("myUL").appendChild(checkBox);
    document.getElementById("myUL").appendChild(label);
    document.getElementById("myUL").appendChild(span);
    document.getElementById("myUL").appendChild(br);
    }
    document.getElementById("myTask").value = "";

      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      task.appendChild(span);
      // Click on a close button to hide the current list item
      var close = document.getElementsByClassName("close");
      var i;
      for (i = 0; i < close.length; i++) {
        console.log(i);
        close[i].onclick = function() {
          var div = this.parentElement;
          div.style.display = "none";
        }
      }
 }




  function addWeek() {
  // window.open('http://google.com');
  // document.getElementById("task-name").innerHTML = .join("\n" + "__________________________________________________________________");
  const checkBox = document.createElement('input')
  checkBox.type = 'checkbox'
  var task = document.createElement("p");
  var inputValue = document.getElementById("weekTask").value;
  var t = document.createTextNode(inputValue);
  task.appendChild(t);

  var label = document.createElement('label')
  label.htmlFor = t;
  label.appendChild(t);

  var br = document.createElement('br');

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  task.appendChild(span);

  if (inputValue === '') {
  alert("You must write something!");
  } else {
  document.getElementById("weekUL").appendChild(checkBox);
  document.getElementById("weekUL").appendChild(label);
  document.getElementById("weekUL").appendChild(span);
  document.getElementById("weekUL").appendChild(br);
  }
  document.getElementById("weekTask").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        task.appendChild(span);
        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
          console.log(i);
          close[i].onclick = function() {
            var div = this.parentElement;
            div.style.display = "none";
          }
        }
}

function addMonth() {
// window.open('http://google.com');
// document.getElementById("task-name").innerHTML = .join("\n" + "__________________________________________________________________");
const checkBox = document.createElement('input')
checkBox.type = 'checkbox'
var task = document.createElement("p");
var inputValue = document.getElementById("monthTask").value;
var t = document.createTextNode(inputValue);
task.appendChild(t);

var label = document.createElement('label')
label.htmlFor = t;
label.appendChild(t);

var br = document.createElement('br');

var span = document.createElement("SPAN");
var txt = document.createTextNode("\u00D7");
span.className = "close";
span.appendChild(txt);
task.appendChild(span);

if (inputValue === '') {
alert("You must write something!");
} else {
document.getElementById("monthUL").appendChild(checkBox);
document.getElementById("monthUL").appendChild(label);
document.getElementById("monthUL").appendChild(span);
document.getElementById("monthUL").appendChild(br);
}
document.getElementById("monthTask").value = "";

      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      task.appendChild(span);
      // Click on a close button to hide the current list item
      var close = document.getElementsByClassName("close");
      var i;
      for (i = 0; i < close.length; i++) {
        console.log(i);
        close[i].onclick = function() {
          var div = this.parentElement;
          div.style.display = "none";
        }
      }
}

//
//   function dailyFunction() {
//     console.log("hi");
//  var myWindow= window.open('Checkboxes');
// myWindow.opener.document.write(task);
//   }

    </script>
 <h1>My Checklist!</h1>

    <style type="text/css">



label {
    background: #A5D6A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}



body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    text-align: center;
    font: 900 24px/1.4 -system-ui, sans-serif;
}

    </style>

</head>


<style type="text/css">
body {
background:#90CDEF;
}

#daily-tasks {
  height: max-content;
    width: 900px;
  background: linear-gradient(#90CDEF, #bbddf0);
  color: white;
  border: 2px solid white;
  margin-bottom: 100px;
  margin-left:25px;
  margin-right:25px;
}

#weekly-tasks {
  height: max-content;
  width: 900px;
  background: linear-gradient(#90CDEF,#bbc0f0);
  color: white;
  border: 2px solid white;
  margin-bottom: 100px;
  margin-left:25px;
  margin-right:25px;
}

#monthly-tasks {
  height: max-content;
  width: 900px;
  background: linear-gradient(#90CDEF, #9198e5);
  color: white;
  border: 2px solid white;
  margin-bottom: 100px;
  margin-left:25px;
  margin-right:25px;

}

#container {
  height: max-content;
  width: 950px;
  color: white;
  border: 2px solid white;
  margin-bottom: 100px;
  margin-left:25px;
  margin-right:25px;

}

#myUL {
  height: max-content;
  color: white;
  text-align: left;

}

#weekUL {
  height: max-content;
  color: white;
  text-align: left;
}

#monthUL {
  height: max-content;
  color: white;
  text-align: left;
}

h1 {
  font-family:"Montserrat";
font-stretch: semi-condensed;
  font-weight: 10;
  font-size: 50px;
  color: white;
    letter-spacing: 1px;
}
h2 {
  font-family: "Montserrat";
    font-weight: 200;
  font-size: 20px;
     color: black;
 /* letter-spacing: 2px; */
}
/* /trebuchet
American Typewriter
andale mono*/


</style>

<body>
<!-- <div id="container" style="position:relative; right:10px; bottom:100px;" onclick="addFunc()"> -->
<div id="daily-tasks" style= "position:relative; bottom:100px;">
<center> <h1> Daily Tasks </h1> </center>
<center><button style= "position:relative; left:290px;" onclick="addFunc()">+</button></center>
<input style="width:800px;background:#9198e5; font-size:20pt;" type="text" id="myTask" placeholder="Type here and then hit the +...";>
<ul id="myUL">
  </ul>
    </div>


  <div id="weekly-tasks" style= "position:relative; bottom:200px;">
  <center> <h1> Weekly Tasks </h1> </center>
  <center><button style= "position:relative; left:290px;" onclick="addWeek()">+</button></center>
  <input style="width:800px;background:#9198e5; font-size:20pt;" type="text" id="weekTask" placeholder="Type here and then hit the +...";>
  <ul id="weekUL">

    </ul>
      </div>

    <div id="monthly-tasks" style= "position:relative; bottom:300px;">
    <center> <h1> Monthly Tasks </h1> </center>
    <center><button style= "position:relative; left:290px;" onclick="addMonth()">+</button></center>
    <input style="width:800px;background:#9198e5; font-size:20pt;" type="text" id="monthTask" placeholder="Type here and then hit the +...";>
    <ul id="monthUL">
      </ul>
        </div>
      <!-- </div> -->
<nav class="navbar fixed-bottom navbar-light bg-white ">
  <div class="col-3 text-center my-2 border-right border-dark">
            <button class="text-center " style="border:none; background:none" onclick="location.href = '/draw/welcome'">
                <i class="fas fa-home fa-5x"></i>
            </button>
        </div>
        <div class="col-3 text-center my-2 border-right border-dark">
            <button class="text-center" style="border:none; background:none" onclick="location.href = '/draw/Checklist'">
                <i class="far fa-check-circle fa-5x"></i>
            </button>
        </div>
        <div class="col-3 text-center my-2 border-right border-dark">
            <button class="text-center " style="border:none; background:none" onclick="location.href = '/draw/Companies'">
                <i class="fas fa-desktop fa-5x"></i>
            </button>
        </div>
        <div class="col-3 text-center my-2">
            <button class="text-center" style="border:none; background:none" onclick="location.href = '/draw/Leaderboard'">
                <i class="fas fa-user-friends fa-5x"></i>
            </button>
        </div>
    </nav>

   <!-- <span id="content1">The first line.</span><span id="content2">The second line.</span> -->
</body>

<script>
    var types = JSON.parse(sessionStorage.getItem("Type"))
    var dataset = JSON.parse(sessionStorage.getItem("Data"))
    for (i = 0; i < dataset.length; i += 1) {
        if(types[i] == 0){
            document.getElementById('daily-tasks').innerHTML += '<h2> <input onclick="checkedBox()" type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> <label for="vehicle1">' + dataset[i] + '</label><br></h2>'
        }
        else if(types[i] == 1){
            document.getElementById('weekly-tasks').innerHTML += '<h2> <input onclick="checkedBox()" type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> <label for="vehicle1">' + dataset[i] + '</label><br></h2>'
        }
        else if(types[i] == 2){
            document.getElementById('monthly-tasks').innerHTML += '<h2> <input onclick="checkedBox()" type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> <label for="vehicle1">' + dataset[i] + '</label><br></h2>'
        }
    }

    function checkedBox() {
        sessionStorage.setItem("Score", JSON.parse(sessionStorage.getItem("Score")) + 1);
    }

</script>

</html>
