{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Homescreen</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>

    <style type="text/css">
    </style>

    <link rel="icon" type="image/png" href="http://example.com/myicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>


<style type="text/css">
body {
  background: linear-gradient(#9198e5, #90CDEF);
}

h1 {
font-family:"Montserrat";
font-stretch: semi-condensed;
font-weight: 10;
font-size: 30px;
color: white;
  letter-spacing: 1px;
}

h2 {
  font-family: "Montserrat";
    font-weight: 200;
  font-size: 20px;
     color: black;
}

div {
background: rgba(3, 172, 240, 0.5);
  border: 2px solid black;
}


</style>

<body>
	<h1>Company Scores</h1>

	<div class="card my-5" >
	  <div class="card-body">
	    <h1 class="card-title">Company Watchlist</h1>
	    <h2 class="card-subtitle mb-2 text-muted">Card subtitle</h2>
	    <a href="#" class="card-link float-right">+ See More</a>
	  </div>
	</div>


	<div class="card my-5" >
	  <div class="card-body">
	    <h1 class="card-title">Leaderboard Top Movers</h1>
	    <h2 class="card-subtitle mb-2 text-muted">Card subtitle</h2>
	    <a href="#" class="card-link float-right">+ See More</a>
	  </div>
	</div>

	<div class="card my-5" >
	    <div class="card-body">
	    	<h1 class="card-title">Living a Greener Life:</h1>
	    	<h2 class="card-subtitle mb-2 text-muted">General Tips</h2>
	    	<br>
	    	<div class="row my-2">
	    		<div class="col-10">
	    			<h2 class="card-subtitle mb-2 ">Buy from sustainable brands</h2>
	    		</div>

	    		<div class="col-2">
	    			<i class="fas fa-plus-circle fa-2x"></i>
	    		</div>
	   		</div>

	   		<div class="row my-2">
	    		<div class="col-10">
	    			<h2 class="card-subtitle mb-2 ">Go to the carwash instead of washing your car by yourself</h2>
	    		</div>

	    		<div class="col-2">
	    			<i class="fas fa-plus-circle fa-2x"></i>
	    		</div>
	   		</div>

	   		<div class="row my-2">
	    		<div class="col-10">
	    			<h2 class="card-subtitle mb-2 ">Turn off water when brushing your teeth</h2>
	    		</div>

	    		<div class="col-2">
	    			<i class="fas fa-plus-circle fa-2x"></i>
	    		</div>
	   		</div>


	     </div>

	    <a href="#" class="card-link float-right">+ See More</a>
	  </div>
	</div>

	<nav class="navbar fixed-bottom navbar-light bg-white">
		<div class="col-3 text-center my-2 border-right border-dark">
			<button class="text-center " style="border:none; background:none">
				<i class="fas fa-home fa-5x"></i>
			</button>
		</div>
		<div class="col-3 text-center my-2 border-right border-dark">
			<button class="text-center" style="border:none; background:none">
				<i class="far fa-check-circle fa-5x"></i>
			</button>
		</div>
		<div class="col-3 text-center my-2 border-right border-dark">
			<button class="text-center " style="border:none; background:none">
				<i class="fas fa-desktop fa-5x"></i>
			</button>
		</div>
		<div class="col-3 text-center my-2">
			<button class="text-center" style="border:none; background:none">
				<i class="fas fa-user-friends fa-5x"></i>
			</button>
		</div>
	</nav>




	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- font awesome -->
    <script src="https://kit.fontawesome.com/5476543f0a.js" crossorigin="anonymous"></script>
</body>

</html>
